.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.announcements {
    background-color: #d8e8e3;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.announcements span {
    padding: 3.2rem 0;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    font-weight: 500;
}

.left-right-section {
    display: flex;
}

.text, .image { 
    width: 50%;
    height: 420px;
}
.text {
    background-color: #f1f8f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image img { 
    width: 100%;
}

